# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Describe components of DS toolkit
- List examokes of open source and cloud based tools
- Work with Juoyter Architecture
- Understand R and GitHub
- Demonstrate familitarity through Hands on Labs

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. ggplot
2. plotly
3. pandas
4. SciPy
5. scikit-learn
6. NumPy
7. Tensor Flow
8. MatPlotLib

| Data Science Tools |
|------------------|
| RStudio |
| Jupyter Notebooks |
| Anaconda |
| Google CoLab |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Joseph Boone